.hero{
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: rgb(35, 35, 35);
}

.hero-content{
    display: flex;
    justify-content: space-between;
}
.hero-header{
    font-size: 50px;
    line-height: 100px;
    font-weight: 500;
    color: white;
}
.hero-header span{
    color: rgb(255, 220, 82);
    font-weight: 700;
}

.hero-container{
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 5px solid rgb(255, 220, 82);
    border-radius: 50%;
    position: relative;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(.1);
}
.hero-para{
    font-weight: 500;
    color: white;
    line-height: 2em;
}

/* From Uiverse.io by mrhyddenn */ 
.button {
    width: 200px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: rgb(255, 220, 82);
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #000000;
    background-color: rgb(255, 220, 82);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }  


@media (max-width:800px) {
    .hero{
      padding: 1.5rem 2rem;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    .hero-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .hero-header{
        line-height: 80px;
    }
}


.education{
  padding: 4rem;
  height: 100%;
  background: rgb(228, 183, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.edu-header{
  font-size: 4rem;
}

.edu-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.edu{
  width: 60vw;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(255, 235, 83);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  transition: transform .5s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.edu-course{
  display: flex;
  gap: 10rem;
}
.duration{
  position: absolute;
  border-radius: 0 0 0 10px;
  padding: 7px;
  top: 0;
  right: 0;
  font-size: 15px;
  color: #fff;
  background-color: #000000;
}
.edu-degree{
  font-size: 18px;
  font-weight: 700;
}

.edu:hover{
  transform: scale(1.1);
}
@media (max-width:400px) {
  .education{
    padding: 2rem 2rem;
  }
}

