.footer{
    height: 100%;
    position: relative;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: rgb(35, 35, 35);
}
.fheader{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(255, 172, 17);
}
.follow{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.icons{
    display: flex;
    gap: 3rem;
}

.icon-container{
    border: 2px solid white;
    border-radius: 10px;
    padding: .7rem;
    transition: background-color ease-in-out .5s;
}
.icon-container i{
    font-size: 20px;
    color: white;
}
.icon-container:hover{
    background-color: rgb(101, 101, 101);
    box-shadow: 0px 0px 20px rgb(255, 172, 17);
}

.quick-links{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.footer-links{
    display: flex;
    gap: 1em;
    
}
.footer-links a{
    text-decoration: none;
    color: rgb(156, 156, 156);
    font-size: 17px;
}

.footer-links a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 172, 17);
}

.ending{
    width: 100%;
    padding-top: .4rem;
    position: absolute;
    display: block;
    color: rgb(255, 255, 255);
    bottom: 2px;
    left: 2px;
    border-top: 2px solid rgb(127, 127, 127);
}

@media(max-width:700px){
    .footer{
        padding: 1.5rem;
        height: inherit;
    }
    .icons{
        flex-wrap: wrap;
    }
    .footer-links{
        flex-wrap: wrap;
    }
    .ending{
        display: none;
    }
}